build/TrollCuts.tipa
build/DerivedData/info.plist
build/DerivedData/Build/Intermediates.noindex/PrecompiledHeaders/TrollCuts-Bridging-Header-1nt2v98pe2gjo.dia
build/DerivedData/Build/Intermediates.noindex/PrecompiledHeaders/TrollCuts-Bridging-Header-swift_33HX48XILEA5X-clang_2V90YPBIAV0CA.pch
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/all-product-headers.yaml
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/assetcatalog_dependencies
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/assetcatalog_generated_info.plist
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/empty-TrollCuts.plist
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/SwiftStdLibToolInputDependencies.dep
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/TrollCuts-all-non-framework-target-headers.hmap
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/TrollCuts-all-target-headers.hmap
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/TrollCuts-generated-files.hmap
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/TrollCuts-own-target-headers.hmap
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/TrollCuts-project-headers.hmap
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/TrollCuts.hmap
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/DerivedSources/TrollCuts-Swift.h
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/CancelBackup.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/CancelBackup.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/ContentView.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/ContentView.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/dummyInput-1.swift
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/ExtractedAppShortcutsMetadata.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/ExtractedParameterSummaryMetadata.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/GetBackupProgress.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/GetBackupProgress.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/GetBackupState.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/GetBackupState.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/Lock.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/Lock.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/Reboot.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/Reboot.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/Respring.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/Respring.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/SetAutoBrightness.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/SetAutoBrightness.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/SetAutoLock.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/SetAutoLock.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/StartBackup.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/StartBackup.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/supplementaryOutputs-1
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/SwitchAppsRegistration.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/SwitchAppsRegistration.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TCUtil.d
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TCUtil.dia
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TCUtil.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts_dependency_info.dat
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts-master.d
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts-master.dia
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts-master.swiftdeps
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts-master.swiftdeps~
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts-OutputFileMap.json
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts-Swift.h
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts.abi.json
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts.LinkFileList
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts.swiftdoc
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts.SwiftFileList
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts.swiftmodule
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCuts.swiftsourceinfo
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCutsApp.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TrollCutsApp.stringsdata
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TSUtil.d
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TSUtil.dia
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/TSUtil.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/UserspaceReboot-f9e7ea1a4a814e53490ede94829ff6e3.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/userspaceReboot-f3839c51b762ce483dbe7248945290a5.d
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/userspaceReboot-f3839c51b762ce483dbe7248945290a5.dia
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/userspaceReboot-f3839c51b762ce483dbe7248945290a5.o
build/DerivedData/Build/Intermediates.noindex/TrollCuts.build/Release-iphoneos/TrollCuts.build/Objects-normal/arm64/UserspaceReboot.stringsdata
build/DerivedData/Build/Intermediates.noindex/XCBuildData/a2fb6ae32b7bc987b014a508ca35caa8-buildRequest.json
build/DerivedData/Build/Intermediates.noindex/XCBuildData/a2fb6ae32b7bc987b014a508ca35caa8-desc.xcbuild
build/DerivedData/Build/Intermediates.noindex/XCBuildData/a2fb6ae32b7bc987b014a508ca35caa8-manifest.xcbuild
build/DerivedData/Build/Intermediates.noindex/XCBuildData/a2fb6ae32b7bc987b014a508ca35caa8-targetGraph.txt
build/DerivedData/Build/Intermediates.noindex/XCBuildData/build.db
build/DerivedData/Build/Intermediates.noindex/XCBuildData/BuildDescriptionCacheIndex-601c590989dc9fb1a62cd4ac7de4cf39
build/DerivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/project/PROJECT@v11_mod=1705413227.8905869_hash=6907303e77258aa1a7d4f244df972ef6plugins=1OJSG6M1FOV3XYQCBH7Z29RZ0FPR9XDE1-json
build/DerivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/target/TARGET@v11_hash=589356f4c71ad3893c4c4eff61bad9d6-json
build/DerivedData/Build/Intermediates.noindex/XCBuildData/PIFCache/workspace/WORKSPACE@v11_hash=215a65c5d9136830ce5b88b2ca71162d_subobjects=af576dfaecf2ec2b19aa6a6c00e3d480-json
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/AppIcon.png
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/AppIcon60x60@2x.png
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/AppIcon76x76@2x~ipad.png
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/Assets.car
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/Info.plist
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/PkgInfo
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/TrollCuts
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/Metadata.appintents/extract.actionsdata
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/Metadata.appintents/objects.appintentsmanifest
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app/Metadata.appintents/version.json
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app.dSYM/Contents/Info.plist
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.app.dSYM/Contents/Resources/DWARF/TrollCuts
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.swiftmodule/arm64-apple-ios.abi.json
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.swiftmodule/arm64-apple-ios.swiftdoc
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.swiftmodule/arm64-apple-ios.swiftmodule
build/DerivedData/Build/Products/Release-iphoneos/TrollCuts.swiftmodule/Project/arm64-apple-ios.swiftsourceinfo
build/DerivedData/Logs/Build/E1F8FB7A-D9CC-4E17-850E-DEF62B1D295F.xcactivitylog
build/DerivedData/Logs/Build/LogStoreManifest.plist
build/DerivedData/Logs/Launch/LogStoreManifest.plist
build/DerivedData/Logs/Localization/LogStoreManifest.plist
build/DerivedData/Logs/Package/LogStoreManifest.plist
build/DerivedData/Logs/Test/LogStoreManifest.plist
build/DerivedData/ModuleCache.noindex/_Concurrency-15YT6ZYERKMF8.swiftmodule
build/DerivedData/ModuleCache.noindex/_StringProcessing-1RHYREV8PQE3E.swiftmodule
build/DerivedData/ModuleCache.noindex/Accessibility-LH6630G63DJS.swiftmodule
build/DerivedData/ModuleCache.noindex/AppIntents-3HOHMTNYS671M.swiftmodule
build/DerivedData/ModuleCache.noindex/Combine-11WNT0EZMAU6R.swiftmodule
build/DerivedData/ModuleCache.noindex/CoreData-IMP61FJDSTVU.swiftmodule
build/DerivedData/ModuleCache.noindex/CoreFoundation-1TB0J3QMHUVYZ.swiftmodule
build/DerivedData/ModuleCache.noindex/CoreGraphics-NM2II2OXDLT6.swiftmodule
build/DerivedData/ModuleCache.noindex/CoreImage-1JMOJZ7NO65U4.swiftmodule
build/DerivedData/ModuleCache.noindex/CoreLocation-ERVWV5TA8E8G.swiftmodule
build/DerivedData/ModuleCache.noindex/CoreTransferable-1GFUAW9VM6QIX.swiftmodule
build/DerivedData/ModuleCache.noindex/Darwin-2EUARC9N14YVD.swiftmodule
build/DerivedData/ModuleCache.noindex/DataDetection-1XEK26575P4EA.swiftmodule
build/DerivedData/ModuleCache.noindex/DeveloperToolsSupport-3PDMVPU6UUITC.swiftmodule
build/DerivedData/ModuleCache.noindex/Dispatch-24T3JCI6FEYQ0.swiftmodule
build/DerivedData/ModuleCache.noindex/ExtensionFoundation-1V9TSQYHCHLQH.swiftmodule
build/DerivedData/ModuleCache.noindex/FileProvider-1IT5LVNVPXWCS.swiftmodule
build/DerivedData/ModuleCache.noindex/Foundation-3DKL7AUG0L391.swiftmodule
build/DerivedData/ModuleCache.noindex/Metal-1WVRCLDOROQZ1.swiftmodule
build/DerivedData/ModuleCache.noindex/modules.timestamp
build/DerivedData/ModuleCache.noindex/ObjectiveC-1HAUMPXGYQFV1.swiftmodule
build/DerivedData/ModuleCache.noindex/os-2CBHFDXBZBSG9.swiftmodule
build/DerivedData/ModuleCache.noindex/OSLog-171E9WBVH6OGY.swiftmodule
build/DerivedData/ModuleCache.noindex/QuartzCore-HRLTGPDGIPJL.swiftmodule
build/DerivedData/ModuleCache.noindex/Session.modulevalidation
build/DerivedData/ModuleCache.noindex/Swift-ML05MOD6YCOH.swiftmodule
build/DerivedData/ModuleCache.noindex/SwiftUI-B8U8DV62X1MX.swiftmodule
build/DerivedData/ModuleCache.noindex/UIKit-1H2IMW4JI3EXU.swiftmodule
build/DerivedData/ModuleCache.noindex/UniformTypeIdentifiers-4V56MJE4BIWC.swiftmodule
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/_Builtin_stddef_max_align_t-2BO8AI7X08ED1.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/Accessibility-3NLRZT50GDKUM.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/AppIntents-11JW43T8GD61G.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CFNetwork-929P33Y1WR7E.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreData-28TORBTAUVLEX.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreFoundation-10I2D2XL7L7X9.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreGraphics-1TH4RJJRQVFOC.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreImage-3096MN6AT838P.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreLocation-DJ7O04274VT4.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreText-33OP6U69KUCI9.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreTransferable-3TRX1YWKUJWA8.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/CoreVideo-3FAWVAJBVREGF.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/Darwin-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/DataDetection-1AXZFITY17A7J.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/DeveloperToolsSupport-WVDF941AXWXY.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/Dispatch-12O7S7HHQXK9N.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/ExtensionFoundation-1ZNDIY5GRKKK8.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/FileProvider-2NY77GZB316YS.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/Foundation-A3SOD99KJ0S9.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/ImageIO-1I03OOXLFD3W9.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/IOSurface-23REP5CSYWVMJ.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/MachO-1JNFAJWZD9YN6.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/Metal-145CFU14FVBOZ.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/modules.idx
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/ObjectiveC-1KD62J152BYGO.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/OpenGLES-14DVTE3H3DXQF.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/os_object-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/os_workgroup-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/os-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/OSLog-2F9ZT5SJX1HRL.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/ptrauth-2BO8AI7X08ED1.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/QuartzCore-3I7S0M4UEAD0U.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/Security-1FYAMFTYLRNUK.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/SwiftOverlayShims-3A5RGGAXA7QR7.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/SwiftShims-3A5RGGAXA7QR7.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/SwiftUI-3TTMHA1ZU4GP0.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/UIKit-2LM3EQU7VVY4O.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/UniformTypeIdentifiers-2U71ERD2B7X25.pcm
build/DerivedData/ModuleCache.noindex/2V90YPBIAV0CA/UserNotifications-3VWSNN2NTQF9Q.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/_Builtin_stddef_max_align_t-2BO8AI7X08ED1.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/_Builtin_stddef_max_align_t-2BO8AI7X08ED1.pcm.timestamp
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/CoreFoundation-10I2D2XL7L7X9.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/CoreFoundation-10I2D2XL7L7X9.pcm.timestamp
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/Darwin-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/Darwin-MI6WZSG1PNOM.pcm.timestamp
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/Dispatch-12O7S7HHQXK9N.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/Dispatch-12O7S7HHQXK9N.pcm.timestamp
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/modules.idx
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/os_object-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/os_object-MI6WZSG1PNOM.pcm.timestamp
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/os_workgroup-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/os_workgroup-MI6WZSG1PNOM.pcm.timestamp
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/ptrauth-2BO8AI7X08ED1.pcm
build/DerivedData/ModuleCache.noindex/GKPCLWDBC4W2/ptrauth-2BO8AI7X08ED1.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/_Builtin_stddef_max_align_t-2BO8AI7X08ED1.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/_Builtin_stddef_max_align_t-2BO8AI7X08ED1.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CFNetwork-929P33Y1WR7E.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CFNetwork-929P33Y1WR7E.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreFoundation-10I2D2XL7L7X9.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreFoundation-10I2D2XL7L7X9.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreGraphics-1TH4RJJRQVFOC.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreGraphics-1TH4RJJRQVFOC.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreImage-3096MN6AT838P.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreImage-3096MN6AT838P.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreText-33OP6U69KUCI9.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreText-33OP6U69KUCI9.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreVideo-3FAWVAJBVREGF.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/CoreVideo-3FAWVAJBVREGF.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Darwin-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Darwin-MI6WZSG1PNOM.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Dispatch-12O7S7HHQXK9N.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Dispatch-12O7S7HHQXK9N.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/FileProvider-2NY77GZB316YS.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/FileProvider-2NY77GZB316YS.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Foundation-A3SOD99KJ0S9.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Foundation-A3SOD99KJ0S9.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/ImageIO-1I03OOXLFD3W9.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/ImageIO-1I03OOXLFD3W9.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/IOSurface-23REP5CSYWVMJ.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/IOSurface-23REP5CSYWVMJ.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/MachO-1JNFAJWZD9YN6.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/MachO-1JNFAJWZD9YN6.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Metal-145CFU14FVBOZ.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Metal-145CFU14FVBOZ.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/modules.idx
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/ObjectiveC-1KD62J152BYGO.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/ObjectiveC-1KD62J152BYGO.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/OpenGLES-14DVTE3H3DXQF.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/OpenGLES-14DVTE3H3DXQF.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/os_object-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/os_object-MI6WZSG1PNOM.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/os_workgroup-MI6WZSG1PNOM.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/os_workgroup-MI6WZSG1PNOM.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/ptrauth-2BO8AI7X08ED1.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/ptrauth-2BO8AI7X08ED1.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/QuartzCore-3I7S0M4UEAD0U.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/QuartzCore-3I7S0M4UEAD0U.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Security-1FYAMFTYLRNUK.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/Security-1FYAMFTYLRNUK.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/UIKit-2LM3EQU7VVY4O.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/UIKit-2LM3EQU7VVY4O.pcm.timestamp
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/UserNotifications-3VWSNN2NTQF9Q.pcm
build/DerivedData/ModuleCache.noindex/TWXG0179MSUD/UserNotifications-3VWSNN2NTQF9Q.pcm.timestamp
.vscode/settings.json
